extends layout.pug

block title
  hr
  h1 Books
  hr

block content
  .row
    each book in books.slice(0,2)
      .col-md-6 
        .card
          .card-header 
            a(href="/books") #{book.name}
          .card-body
            | Author: #{book.author}
            br
            | Price: #{book.price}
            br
            | In stock: #{book.stock}
          .card-footer
            button(class="btn" onclick="alert('Purchased!');") Purchase
