html
  head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js")
    style.
      .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: black;
        border-radius: 5px;
      }

      .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
      }

      .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #999999;
      }

      .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
      }

      .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none;
      }

      .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
      }

      .sidebar-nav > .sidebar-brand a {
        color: #999999;
      }

      .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none;
      }

    title=title
  body
    include header

    .container
      block title
      .row
        //- sidebar
        .col-md-3
          div(id="sidebar-wrapper")
            ul(class="sidebar-nav")
              li(class="sidebar-brand")
                a(href="#") Categories
              li
                ul
                  li
                    a(href="/books") Books
                  li
                    a(href="/phones") Smartphones

        //- main content
        .col-md-9
          block content
