extends layout.pug

block title
  hr
  h1 Smartphones
  hr

block content
  .row
    each phone in phones.slice(0,2)
      .col-md-6 
        .card
          .card-header 
            a(href="/phones") #{phone.name}
          .card-body 
            | Price: #{phone.price}
            br
            | In stock: #{phone.stock}
          .card-footer
            button(class="btn" onclick="alert('Purchased!');") Purchase
